<!DOCTYPE HTML>
<HTML Lang = "en-us">
<HEAD>
	<meta charset = "utf-8">
	<title>Portable Globe Theater -- About</title>
	<link rel = "stylesheet" href = "globe.css">
</HEAD>
<BODY>
	<div id = "container" class="container">
		<div id = "header" class = "header">
				<p>The Portable Globe Theater Company</p>
				
		</div><!-- headder -->
		<br>
		<div id = "navbar" class = "navbar">
			<p><a href = "/">Home</a>&nbsp&nbsp About</a>&nbsp&nbsp<a href = "login">Login</a>&nbsp&nbsp<a href= "/contact">Contact Us</a>&nbsp&nbsp
			<a href = "/serrena">Serena's Blog</a></p>
			<p><p><strong>"Life's but a poor player that struts and frets his hour upon the stagee and then is heard no more."</strong></p>
		</div><!-- End navbar -->
				<div id = "stories" class = "stories">
					<h5>About Us</h5>
					<div class = picture>
					<p><img src = "serena.jpeg" alt="Serena Fitzgerald" ><br>
				     Serena Fitzgerald, Owner</p>
				 	</div><!-- end picture -->
					<p> The Portable Globe Theater company formed 10 years ago as a way of bringing large theatrical productions to
						venues that may not have much of a stage presence. Its actors, technical staff and artists have brought life
						to plays that have spanned several millennia. From Oedipus Rex to William Shakespear to George Bernard Shaw.
						If you would like us to preform for you, please use our contact page.</p>
					<p>We can also small performances for specialized, private events, especially for those we consider to be our
					kindred. </p>

				</div><!-- End Stories -->
				<div id = "archives" class = "archives">
				</div><!-- Archives -->
		</div><!-- end body -->
		<div id = "footer" class = "footer">
			<p>This is a page for a fictional traveling theter company in a Mind's Eye Theater Vampire the Masquerade Game.<a href="terrehautechronicles.com">click here.</a></p>
		</div><!-- footer -->
	</div><!-- End container -->

</BODY>
</HTML>