<!DOCTYPE HTML>
<HTML Lang = "en-us">
<HEAD>
	<META CHARSET = "utf-8">
	<Title>Portable Globe Theater Company</Title>
	<link rel = "stylesheet" href = "globe.css">
</HEAD>
<BODY>
		<div id = "container" class="container">
		<div id = "header" class = "header">
				<p>The Portable Globe Theater Company</p>
				
		</div><!-- headder -->
		<br>
		<div id = "navbar" class = "navbar">
			<p>Home&nbsp&nbsp<a href =  "/about">About</a>&nbsp&nbsp<a href = "/login">Login</a>&nbsp&nbsp<a href= "/contact">Contact Us</a>&nbsp&nbsp
			<a href = "/serena">Serena's Blog</a></p>
			<p><p><strong>"Life's but a poor player that struts and frets his hour upon the stage and then is heard no more."</strong></p>
		</div><!-- End navbar -->
				<div class = main>
				<div id = "stories" class = "stories">
					<h5>Contatc us</h5>
						Welcome, <%= username  %>
					<h6>This functionality is not available.</h6>
					<p>Because this acting troupe and company exists only within a fictional world, there should be no need for anyone to 
					contact this company. If you want to contact the player, please find her in game or use the Discord server for Terre Haute
					chronicles.</p>

					<p>If you need to tun in down times, which was the initial thought for leaving this in the way it was, please use the Terre Haute
					chronicles website, you will find links to it below.</p>


				</div><!-- End Stories -->
				</div
				<div id = "archives" class = "archives">
					<h5>Previous Stories</h5>
						<%= %>
				</div><!-- Archives -->

		</div><!-- end body -->
		<div id = "footer" class = "footer">
			<p>This is a page for a fictional traveling theter company in a Mind's Eye Theater Vampire the Masquerade Game. The game is held one a month at the Allen Hope Memorial Center outside of Terre Haute, Indiana. For more information <a href="terrehautechronicles.com">click here.</a></p>
		</div><!-- footer -->
	</div><!-- End container -->

</BODY>
</HTML>