<!DOCTYPE HTML>
<HTML Lang = "en-us">
<HEAD>
</HEAD>
<BODY>
		<div id = "container" class = "container">
			<div id = "header" class = "header">

			</div><!-- headder -->
				<div id= "navbar" class = "container">
			</div><!--End Navbar -->
			<div id = "body" class = "body">

			</div><!-- end body -->
		</div><!--End Container -->
		<div id = "footer" class = "footer">

		</div><!-- footer -->
	</div><!-- End container -->
</BODY>
</HTML>